name: Mark stale issues and pull requests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/stale@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: "This issue is stale because it has been open for 60 days with no activity and it has not the 'status: confirmed' label or it is not in a milestone. Remove the 'status: stale' label or comment, or this will be closed in 5 days."
          stale-pr-message: "This pull request is stale because it has been open for 60 days with no activity and it is not in a milestone. Remove 'status: stale' label or comment, or this will be closed in 5 days."
          days-before-stale: 30
          days-before-close: 5
          remove-stale-when-updated: true
          stale-issue-label: "status: stale"
          stale-pr-label: "status: stale"
          exempt-issue-labels: "status: confirmed"
          exempt-all-milestones: true
